.dice-card {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.dice-container {
    text-align: center;
}

.d20-icon {
    font-size: 3rem;
    display: block;
}
